
{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <center>
        
        <button type="button" onclick="location.href='{{url_for('evaluation')}}';" class="btn btn-primary btn-lg" >Evaluacion de Parametros</button>
        
        <button type="button" class="btn btn-secondary btn-lg">Estado de animo de agente</button>
        </br>
        </br>
        <button type="button" class="btn btn-secondary btn-lg">Aprendizaje asociativo</button>
        <button type="button" class="btn btn-primary btn-lg">Estado dinamico de agente emocional</button>
        </center
    </div>

{% endblock%}

